.Button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
}

.Button:hover {
    background-color: #ffffff0d;
    cursor: pointer;
}